.bbp-actions {padding-bottom:.5em;}
.bbp-actions a{color:#999 !important; text-decoration:none;}
.bbp-actions a:hover{color:#666 !important; text-decoration:none !important;}
.bbp-actions a span em{text-indent:-99999px;outline:none;background:transparent url(twitter-icons.png) no-repeat;width:15px;height:15px;margin:0 2px 0 2px;display:block;margin-left:0em;}
.bbp-actions a span em{display:inline-block;vertical-align:baseline;margin-bottom:-3.5px;margin-right:3px;position:relative;}
.bbp-actions a span strong{padding-left:.25em;font-weight:normal;}
.bbp-actions .bbp-reply-action span em{background-position:0 0;margin-right:0;}
.bbp-actions .bbp-reply-action:hover span em{background-position:-16px 0;}
.bbp-actions .bbp-retweet-action span em{background-position:-80px 0;}
.bbp-actions .bbp-retweet-action:hover span em{background-position:-96px 0;}
.bbp-actions .bbp-favorite-action span em{background-position:-32px 0;}
.bbp-actions .bbp-favorite-action:hover span em{background-position:-48px 0;}

.bbp-actions:before {
  content: url('bird.png');
}

.bbp-reply-action:before {
	content: url('reply.png');
}

.bbp-retweet-action:before {
	content: url('retweet.png');
}

.bbp-favorite-action:before {
	content: url('favorite.png');
}
